<!-- Start: Sidebar Left Menu -->
<ul class="nav sidebar-menu">
  <li class="sidebar-label pt20">Principal</li>
    <li>
      <a href="{% url 'basket_index' %}">
        <span class="fa fa-home"></span>
        <span class="sidebar-title">Partidos</span>
      </a>
    </li>
  </li>
  <li class="sidebar-label pt20">Configuración</li>
    <li>
      <a href="{% url 'basket_matchList' %}">
        <span class="fa fa-cogs"></span>
        <span class="sidebar-title">Partidos</span>
      </a>
      <a href="{% url 'basket_coachList' %}">
        <span class="fa fa-cogs"></span>
        <span class="sidebar-title">Entrenadores</span>
      </a>
      <a href="{% url 'basket_teamList' %}">
        <span class="fa fa-cogs"></span>
        <span class="sidebar-title">Equipos</span>
      </a>
      <a href="{% url 'basket_playerList' %}">
        <span class="fa fa-cogs"></span>
        <span class="sidebar-title">Jugadores</span>
      </a>
      <a href="{% url 'basket_rosterList' %}">
        <span class="fa fa-cogs"></span>
        <span class="sidebar-title">Nóminas</span>
      </a>
      <a href="{% url 'basket_rosterSelectionList' %}">
        <span class="fa fa-cogs"></span>
        <span class="sidebar-title">Selección Nóminas</span>
      </a>
    </li>
  </li>
  <!-- sidebar bullets -->
  <li class="sidebar-label pt20">Projects</li>
  <li class="sidebar-proj">
    <a href="#projectOne">
      <span class="fa fa-dot-circle-o text-primary"></span>
      <span class="sidebar-title">Website Redesign</span>
    </a>
  </li>
  <li class="sidebar-proj">
    <a href="#projectTwo">
      <span class="fa fa-dot-circle-o text-info"></span>
      <span class="sidebar-title">Ecommerce Panel</span>
    </a>
  </li>
  <li class="sidebar-proj">
    <a href="#projectTwo">
      <span class="fa fa-dot-circle-o text-danger"></span>
      <span class="sidebar-title">Adobe Mockup</span>
    </a>
  </li>
  <li class="sidebar-proj">
    <a href="#projectThree">
      <span class="fa fa-dot-circle-o text-warning"></span>
      <span class="sidebar-title">SSD Upgrades</span>
    </a>
  </li>

  <!-- sidebar progress bars -->
  <li class="sidebar-label pt25 pb10">User Stats</li>
  <li class="sidebar-stat">
    <a href="#projectOne" class="fs11">
      <span class="fa fa-inbox text-info"></span>
      <span class="sidebar-title text-muted">Email Storage</span>
      <span class="pull-right mr20 text-muted">35%</span>
      <div class="progress progress-bar-xs mh20 mb10">
        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 35%">
          <span class="sr-only">35% Complete</span>
        </div>
      </div>
    </a>
  </li>
  <li class="sidebar-stat">
    <a href="#projectOne" class="fs11">
      <span class="fa fa-dropbox text-warning"></span>
      <span class="sidebar-title text-muted">Bandwidth</span>
      <span class="pull-right mr20 text-muted">58%</span>
      <div class="progress progress-bar-xs mh20">
        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 58%">
          <span class="sr-only">58% Complete</span>
        </div>
      </div>
    </a>
  </li>
</ul>
<!-- End: Sidebar Menu -->
