{% extends "Partials/_Base.html" %}
{% load bootstrap4 %}
{% load static %}
{% block Title %}
Agregar Nomina
{% endblock Title %}
{% block Styles %}
{% endblock Styles %}
{% block Content %}
<div class="row text-center">
    <h1>Agregar nomina</h1>
</div>

<div class="panel heading-border admin-form">
  <div class="panel-body bg-light">
    <form action="" method="POST" enctype="multipart/form-data">{% csrf_token %}
      {% bootstrap_form form %}
      <input type="submit" value="Enviar" class="btn btn-primary btn-lg btn-block">
    </form>
  </div>
</div>
{% endblock Content %}
{% block JavaScript %}
<script src="{% static 'vendor/plugins/jquerymask/jquery.maskedinput.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

{% endblock JavaScript %}
