{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Login</title>
  <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700'>
  <link rel="stylesheet" type="text/css" href="{% static 'assets/skin/default_skin/css/theme.css' %}">
  <link rel="shortcut icon" href="{% static 'assets/img/favicon.ico' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'assets/admin-tools/admin-forms/css/admin-forms.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'vendor/plugins/sweetalert2/sweetalert2.min.css' %}">

</head>
<body class="external-page sb-l-c sb-r-c">
  <div id="main" class="animated fadeIn">
    <section id="content_wrapper">
      <div id="canvas-wrapper">
        <canvas id="demo-canvas"></canvas>
      </div>
      <section id="content">
        <div class="admin-form theme-info">
          <div class="row mb15 table-layout">
            <div class="col-xs-6 va-m pln">
              <a href="" title="Return to Dashboard">
                <img src="{% static 'assets/img/logos/logo_white.png' %}" title="AdminDesigns Logo" class="img-responsive w250">
              </a>
            </div>
          </div>
          <div class="panel panel-info mt10 br-n">
            <br>
            <h1 class="h3 mb-3 font-weight-normal text-center">Login</h1>
            <div class="panel-body bg-light p30">
              <div class="row">
                <form class="form-signin" method="POST">{% csrf_token %}
                  <div class="text-center mb-4">
                    {% if messages %}
                        {% for message in messages %}
                        <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
                          {{ message }}
                          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        {% endfor %}
                    {% endif %}

                  </div>

                  <div class="section">
                    <label for="user" class="field-label text-muted fs18 mb10">Usuario</label>
                    <label for="user" class="field prepend-icon">
                      <input type="text" name="username" class="gui-input" placeholder="Ingrese su usuario">
                      <label for="user" class="field-icon">
                        <i class="fa fa-user m15"></i>
                      </label>
                    </label>
                  </div>
                  <div class="section">
                    <label for="pass" class="field-label text-muted fs18 mb10">Contraseña</label>
                    <label for="pass" class="field prepend-icon">
                      <input type="password" name="password" class="gui-input" placeholder="Ingrese su contraseña">
                      <label for="pass" class="field-icon">
                        <i class="fa fa-lock m15"></i>
                      </label>
                    </label>
                  </div>
                  <div class="panel-footer clearfix p10 ph15">
                    <button type="submit" class="btn btn-primary mr10 pull-right">Entrar</button>
                    <label class="switch ib switch-primary pull-left input-align mt10">
                      <input type="checkbox" id="remember" checked>
                      <label for="remember" data-on="YES" data-off="NO"></label>
                      <span>Remember me</span>
                    </label>
                  </div>
                  <p class="mt-5 mb-3 text-muted text-center">&copy; 2017-2018</p>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
    </section>
  </div>

  <!-- jQuery -->
  <script src="{% static 'vendor/jquery/jquery-1.11.1.min.js' %}"></script>
  <script src="{% static 'vendor/jquery/jquery_ui/jquery-ui.min.js' %}"></script>

  <!-- CanvasBG Plugin(creates mousehover effect) -->
  <script src="{% static 'vendor/plugins/canvasbg/canvasbg.js' %}"></script>

  <!-- Theme Javascript -->
  <script src="{% static 'assets/js/utility/utility.js' %}"></script>
  <script src="{% static 'assets/js/demo/demo.js' %}"></script>
  <script src="{% static 'assets/js/main.js' %}"></script>

  <script src="{% static 'vendor/plugins/sweetalert2/sweetalert2.min.js' %}"></script>

  <!-- Page Javascript -->
  <script type="text/javascript">
    jQuery(document).ready(function() {

      "use strict";
      Core.init();
      CanvasBG.init({
        Loc: {
          x: window.innerWidth / 2,
          y: window.innerHeight / 3.3
        },
      });

    });
  </script>

  </body>
</html>
