{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Register</title>
  <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700'>
  <link rel="stylesheet" type="text/css" href="{% static 'assets/skin/default_skin/css/theme.css' %}">
  <link rel="shortcut icon" href="{% static 'assets/img/favicon.ico' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'assets/admin-tools/admin-forms/css/admin-forms.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'vendor/plugins/sweetalert2/sweetalert2.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'vendor/plugins/select2/css/core.css' %}">
  <style media="screen">
    .select2-container .select2-selection {
        background:white;
      }
  </style>
</head>
<body class="external-page sb-l-c sb-r-c">

  <div id="main" class="row animated fadeIn">
    <form id="formregister">
      <section id="content_wrapper">
        <div id="canvas-wrapper">
          <canvas id="demo-canvas"></canvas>
        </div>
        <section id="content" class="">
          <div class="admin-form theme-info mw700" style="margin-top: 3%;">
            <div class="row mb15 table-layout">
              <div class="col-xs-6 va-m pln">
                <a href="" title="Return to Dashboard">
                  <img src="{% static 'assets/img/logos/logo_white.png' %}" title="AdminDesigns Logo" class="img-responsive w250">
                </a>
              </div>
              <div class="col-xs-6 text-right va-b pr5">
                <div class="login-links">
                  <a href="{% url 'core_login' %}" class="" title="Sign In">Entrar</a>
                  <span class="text-white"> | </span>
                  <a href="{% url 'core_register' %}" class="active" title="Register">Registrarse</a>
                </div>
              </div>
            </div>
            <div class="panel panel-info mt10 br-n">
              <div class="panel-body p25 bg-light">
                <div class="section-divider mt10 mb40">
                  <span>Configurar cuenta</span>
                </div>
                  <div class="section row">
                    <div class="col-md-6">
                      <label for="id_first_name" class="field prepend-icon">
                        {{UserForm.first_name}}
                        <label for="id_first_name" class="field-icon">
                          <i class="fa fa-user m15"></i>
                        </label>
                      </label>
                    </div>
                    <div class="col-md-6">
                      <label for="id_last_name" class="field prepend-icon">
                        {{UserForm.last_name}}
                        <label for="id_last_name" class="field-icon">
                          <i class="fa fa-user m15"></i>
                        </label>
                      </label>
                    </div>
                  </div>
                  <div class="section row">
                    <div class="col-md-6">
                      <div class="smr-150">
                        <label for="user" class="field prepend-icon">
                          {{UserForm.country}}
                        </label>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <label for="id_gender" class="field prepend-icon">
                        {{UserForm.gender}}
                      </label>
                    </div>
                  </div>
                  <div class="section">
                    <div class="smr-150">
                      <label for="id_username" class="field prepend-icon">
                        {{UserForm.username}}
                        <label for="id_username" class="field-icon">
                          <i class="fa fa-user m15"></i>
                        </label>
                      </label>
                    </div>
                  </div>
                  <div class="section">
                    <label for="id_email" class="field prepend-icon">
                      {{UserForm.email}}
                      <label for="id_email" class="field-icon">
                        <i class="fa fa-envelope m15"></i>
                      </label>
                    </label>
                  </div>
                  <div class="section">
                    <label for="id_password" class="field prepend-icon">
                      {{UserForm.password}}
                      <label for="id_password" class="field-icon">
                        <i class="fa fa-unlock-alt m15"></i>
                      </label>
                    </label>
                  </div>
                  <div class="section">
                    <label for="confirmPass" class="field prepend-icon">
                      <input type="password" id="confirmPass" class="gui-input" placeholder="Confirmar contraseña">
                      <label for="confirmPass" class="field-icon">
                        <i class="fa fa-lock m15"></i>
                      </label>
                    </label>
                  </div>
                  <!-- <div class="section-divider mv40">
                    <span>Review the Terms</span>
                  </div>
                  <div class="section mb15">
                    <label class="option block">
                      <input type="checkbox" name="trial">
                      <span class="checkbox"></span>Sign me up for a
                      <a href="#" class="theme-link"> 7-day free PRO trial. </a>
                    </label>
                    <label class="option block mt15">
                      <input type="checkbox" name="terms">
                      <span class="checkbox"></span>I agree to the
                      <a href="#" class="theme-link"> terms of use. </a>
                    </label>
                  </div> -->
              </div>
              <div class="panel-footer clearfix">
                <button type="submit" class="btn btn-primary pull-right">Crear cuenta</button>
              </div>
            </div>
          </div>
        </section>
      </section>
    </form>
  </div>
  <!-- jQuery -->
  <script src="{% static 'vendor/jquery/jquery-1.11.1.min.js' %}"></script>
  <script src="{% static 'vendor/jquery/jquery_ui/jquery-ui.min.js' %}"></script>

  <!-- CanvasBG Plugin(creates mousehover effect) -->
  <script src="{% static 'vendor/plugins/canvasbg/canvasbg.js' %}"></script>

  <!-- Theme Javascript -->
  <script src="{% static 'assets/js/utility/utility.js' %}"></script>
  <script src="{% static 'assets/js/demo/demo.js' %}"></script>
  <script src="{% static 'assets/js/main.js' %}"></script>
  <script src="{% static 'getCookie.js' %}"></script>
  <script src="{% static 'vendor/plugins/sweetalert2/sweetalert2.min.js' %}"></script>
  <script src="{% static 'vendor/plugins/select2/select2.min.js' %}"></script>

  <!-- Page Javascript -->
  <script type="text/javascript">
    jQuery(document).ready(function() {
      "use strict";
      Core.init();
      CanvasBG.init({
        Loc: {
          x: window.innerWidth / 2.1,
          y: window.innerHeight / 4.2
        },
      });
    });
    $('#id_country').select2({
      placeholder: "Seleccionar País",
    }).select2('val', null);
    $('#id_country').attr('style','display:block; position:absolute; bottom: 0; left: 0; clip:rect(0,0,0,0);');
    $('#id_gender').select2({
      placeholder: "Seleccionar Género",
    }).select2("val", null);
    $('#id_gender').attr('style','display:block; position:absolute; bottom: 0; left: 0; clip:rect(0,0,0,0);');
    $('#formregister').submit(function(){
      if($('#confirmPass').val() == $('#id_password').val()){
        datos = $(this).serializeArray();
        datos.push({name: 'csrfmiddlewaretoken', value: getCookie('csrftoken')});
        $.ajax({
          url: '{% url "core_register" %}',
          type: 'POST',
          data: datos,
          success: function(data){
            if(!data.result) swal({title: 'Oops...', text: 'El nombre de usuario ya existe', type: 'error'});
          },
        });
      }
      else{
        swal({
          title: 'Oops...',
          text: 'Las contraseñas no coinciden',
          type: 'error'
        });
      }
      return false;
    });
  </script>

</body>
</html>
